Package: enigma2-plugin-bootlogos-bluedrop
Version: 1.0
Description: BlueDrop Bootlogo
Section: bootlogos
Priority: optional
Maintainer: XXX
Architecture: all
OE: BlueDrop Bootlogo
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com