Package: enigma2-plugin-bootlogos-design2
Version: 1.0
Description: Design Bootlogo by xup12
Section: bootlogos
Priority: optional
Maintainer: macbest
Architecture: sh4
OE: Design Bootlogo by xup12
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com