Package: enigma2-plugin-bootlogos-impact
Version: 1.0
Description: Impact Bootlogo
Section: bootlogos
Priority: optional
Maintainer: XXX
Architecture: all
OE: Impact Bootlogo
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com