Package: enigma2-plugin-bootlogos-design4
Version: 1.0
Description: Design Bootlogo by xup12
Section: bootlogos
Priority: optional
Maintainer: macbest
Architecture: all
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com
