Package: enigma2-plugin-bootlogos-gold
Version: 1.0
Description: Gold Bootlogo
Section: bootlogos
Priority: optional
Maintainer: XXX
Architecture: all
OE: Gold Bootlogo
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com