Package: enigma2-plugin-bootlogos-testpic
Version: 1.0
Description: Testpic Bootlogo
Section: bootlogos
Priority: optional
Maintainer: macbest
Architecture: sh4
OE: Testpic Bootlogo
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com