Package: enigma2-plugin-bootlogos-ice
Version: 1.0
Description: Ice Bootlogo
Section: bootlogos
Priority: optional
Maintainer: XXX
Architecture: sh4
OE: Ice Bootlogo
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com